body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  width: 400px;
  margin: auto;
  padding: 10px;
}

.output {
  grid-column: 1/5;
  font-size: 30px;
  background-color: #858693;
  color: white;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}

.child {
  border: 1px solid #bababa;
}

.zero {
  grid-column: 1/3;
  display: grid;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
}

button {
  font-size: 20px;
  color: black;
}

.orange {
  background-color: #f5913e;
}

.light-grey {
  background-color: #e0e0e0;
}
